* {
    box-sizing: border-box;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f8f9fa;
    padding: 0 10%;
}

main .row, form {
    margin-top: 3rem;
}

#captcha {
    max-width: 60px;
}
.operator{
    margin: 0 1rem;
}

@media (max-width: 576px) { 
    h1 {font-size: 2rem}
    #captcha{
        margin: 0 1rem;
    }
}